<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>Create an Album</h1>
        <input type="text" name="title" placeholder="Enter album title" />
    </body>
</html>